html,
body {
  height: 100%;
  background-color: rgb(60, 130, 173);
}

body {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 50%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 935px) {
  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    width: 80%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}

.contact-info {
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.contact-info h2 {
  margin-top: 0;
}

.ask-query {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #000000;
}

form {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  width: 100%;
}

label {
  margin-top: 10px;
  text-align: left;
}

input[type="email"],
input[type="text"],
textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#status {
  margin-top: 10px;
  font-weight: bold;
  color: green;
  text-align: center;
}
