body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #5980a3;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.container:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.add-location-btn {
  position: fixed;
  bottom: 3%;
  right: 25px;
  background-color: #49a84c;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.add-location-btn:hover {
  background-color: #178733;
}

.dialog-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  min-height: 200px;
  max-width: 600px;
}

.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin-top: 12px;
}

.dialog-box.show {
  z-index: 2;
  display: block;
}

.dialog-content label {
  display: block;
  font-size: 20px;
  text-align: center;
}

.location-name {
  width: 80%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 22px 0;
}

.error-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #49a84c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 7.5%;
}

.save-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 7.5%;
  margin-left: 1%;
}

@media screen and (max-width: 735px) {
  .cancel-btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 6%;
  }

  .save-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 6%;
    margin-left: 1%;
  }
}

.cancel-btn:hover {
  background-color: #e2e2e2;
}
.save-btn:hover {
  background-color: #178733;
}
